body {
  background-color: #01487F;
}

header {
  width: 96%;
  margin-top: 1.4em;
  margin-right: auto;
  margin-bottom: 3em;
  margin-left: auto;
  text-align: center;
}

.headerText {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: .5em;
}

.startButton {
  margin: 0 auto;
  width: 70%;
  height: 80px;
  margin-bottom: 1.5em;
  text-align: center;
  background-color: #00CC00;
  border-radius: 25px;
}

.addressButton {
  margin: 0 auto;
  width: 95%;
  height: 100px;
  margin-bottom: .5em;
  text-align: center;
  background-color: #27597F;
  border-radius: 25px;
}

.buttonText {
  color: white;
  font-size: 2.5em;
  display: inline;
  position: relative;
  top: 40%;
}